<%- include('../includes/head.ejs') %>

<!-- Main content -->
<div class="main-content" id="panel">
    <!-- Topnav -->
    <%- include('../includes/alttopnav.ejs') %>
    <!-- Header -->
    <!-- Header -->
    <%- include('../includes/altheader.ejs') %>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
          <div class="col-xl-12">
            <div class="row">
              <div class="col">
                <div class="card">
                  <!-- Card header -->
                  <div class="card-header border-0">
                    <h3 class="mb-0">Running Projects</h3>
                  </div>
                  <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col" class="sort" data-sort="name">Project</th>
                          <th scope="col" class="sort" data-sort="budget">Budget</th>
                          <th scope="col" class="sort" data-sort="status">Status</th>
                          <th scope="col" class="sort" data-sort="status">Contact</th>
                          <th scope="col">Assigned</th>
                          <th scope="col" class="sort" data-sort="completion">Completion</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody class="list">
                        <% if (mngr.length > 0) { %>
                          <% for (let manager of mngr) { %>
                            <tr>
                              <th scope="row">
                                <div class="media align-items-center">
                                  <a href="#" class="avatar rounded-circle mr-3">
                                    <img alt="Image placeholder" src="<%= manager.logo%>">
                                  </a>
                                  <div class="media-body">
                                    <span class="name mb-0 text-sm"><%= manager.pName %></span>
                                  </div>
                                </div>
                              </th>
                              <td class="budget">
                               Rs.<%= manager.totalPrice %>
                              </td>
                              <td>
                                <span class="badge badge-dot mr-4">
                                  <i class="bg-warning"></i>
                                  <span class="status">pending</span>
                                </span>
                              </td>
                              <td>
                               <span><%= manager.number %></span><br>
                               <span>h<%= manager.email %></span>
                             </td>
                              <td>
                                <div class="avatar-group">
                                  <a href="#" class="avatar avatar-sm rounded-circle" data-toggle="tooltip" data-original-title="Ryan Tompson">
                                    <img alt="Image placeholder" src="../../assets/img/theme/team-1.jpg">
                                  </a>
                                  <a href="#" class="avatar avatar-sm rounded-circle" data-toggle="tooltip" data-original-title="Romina Hadid">
                                    <img alt="Image placeholder" src="../../assets/img/theme/team-2.jpg">
                                  </a>
                                  <a href="#" class="avatar avatar-sm rounded-circle" data-toggle="tooltip" data-original-title="Alexander Smith">
                                    <img alt="Image placeholder" src="../../assets/img/theme/team-3.jpg">
                                  </a>
                                  <a href="#" class="avatar avatar-sm rounded-circle" data-toggle="tooltip" data-original-title="Jessica Doe">
                                    <img alt="Image placeholder" src="../../assets/img/theme/team-4.jpg">
                                  </a>
                                </div>
                              </td>
                              <td>
                                <div class="d-flex align-items-center">
                                  <span class="completion mr-2">60%</span>
                                  <div>
                                    <div class="progress">
                                      <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                    </div>
                                  </div>
                                </div>
                              </td>
                              
                              <td class="table-actions">
                                <a href="/team-list/<%= manager._id %>" class="table-action table-action-delete" data-toggle="tooltip" data-original-title="Assign">
                                  <i class="ni ni-active-40"></i>
                                </a>
                               <a href="#!" class="table-action table-action-delete" data-toggle="tooltip" data-original-title="View project details">
                                 <i class="ni ni-badge"></i>
                               </a>
                               <a href="#!" class="table-action" data-toggle="tooltip" data-original-title="Edit project">
                                 <i class="fas fa-user-edit"></i>
                               </a>
                               <a href="#!" class="table-action table-action-delete" data-toggle="tooltip" data-original-title="Delete project">
                                 <i class="fas fa-trash"></i>
                               </a>
                             </td>
                            </tr>
                          <% } %>
                        <% } else { %>
                          <tr>
                           <td class="text-center"><h3 class="text-center">No Project Found!</h3></td>
                          </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

<%- include('../includes/footer.ejs') %>